<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="report/junit.xml"/>
        <text outputFile="report/logfile.txt"/>
    </logging>

    <coverage cacheDirectory="report/coverage/cache"
              processUncoveredFiles="true"
              pathCoverage="true"
              ignoreDeprecatedCodeUnits="true">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile="report/coverage/clover.xml"/>
            <crap4j outputFile="report/coverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="report/coverage/html"/>
            <php outputFile="report/coverage/coverage.php"/>
            <text outputFile="report/coverage/coverage.txt" showUncoveredFiles="true"/>
            <xml outputDirectory="report/coverage/xml"/>
        </report>
    </coverage>
</phpunit>
